body {
    background:#f5d9d5;
    font-family:"Nunito", san-serif;
}

#mainNavbar {
    font-size: 1.25rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color:#f5d9d5;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #f5d9d5;
}

@media(max-width: 1200px) {
    #headingGroup h1 {
        font-weight:100;
        font-size:3rem;
    }
}
